<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eric.quickheadline">

    <!-- These permissions are necessary in order to access network. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- This permission is necessary in order to access device location. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--The manifest entry for our MainActivity-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--The manifest entry for our ArticleDetailActivity-->
        <activity android:name=".ArticleDetailActivity" />

        <!--TODO: set exported statement to false and connect widget to provider-->
        <!-- Our latest articles ContentProvider -->
        <provider
            android:name=".data.db.ArticleProvider"
            android:authorities="@string/article_provider_content_authority"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <!-- Our current weather ContentProvider -->
        <provider
            android:name=".data.db.CurrentWeatherProvider"
            android:authorities="@string/current_weather_provider_content_authority"
            android:exported="true" />

        <!-- Our bookmarks ContentProvider -->

        <!-- Our daily weather forecast ContentProvider -->
        <provider
            android:name=".data.db.DailyWeatherProvider"
            android:authorities="@string/daily_weather_provider_content_authority"
            android:exported="true" />

        <!-- WeatherSyncIntentService -->
        <service android:name=".WeatherSyncIntentService" />

        <!-- WeatherJobService -->
        <service
            android:name=".jobservice.WeatherJobService"
            android:exported="false">

            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

      <!-- ArticleJobService -->
        <service android:name=".jobservice.ArticleJobService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>



    </application>

</manifest>